In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pprint as pp
import IPython
from IPython.display import display, HTML
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
CSS = """
.output {
    flex-direction: row;
}
"""
HTML('<style>{}</style>'.format(CSS))
pd.set_option('display.max_columns', None)

---

## Mapping categories to DF1 and removing outliers below

In [2]:
df1 = pd.read_csv('./data/0826export_column_filter_1.csv')
df1.columns = df1.columns.str.lower()

df2 = pd.read_excel('./documentation/store_master.xlsx')
df2.columns = df2.columns.str.lower()

categories_to_map = ['class', 
                     'store_city', 
                     'store_state', 
                     'close_date', 
                     'gross_feet'] # must be df2's LOWERED column names

def map_my_dataframe(df1, df2, a_list):
    """Returns DataFrame(df1)
    maps str items in a_list, from df2 onto df1.
    the joint variable for mapping is the store number.
    
    !! df1 and df2 column names must be lower-case !!
    """
    joint_var = 'store'
    for category in a_list:
        df_2_dict = dict(zip(df2[joint_var], df2[category]))
        df1[category] = df1[joint_var].map(df_2_dict)
    return df1
    
df = map_my_dataframe(df1, df2, categories_to_map)
df = df[df.store != 2084]

closed = df[df.close_date.notna()]

---

### Remove outlier store(2084), make DF for closed stores.

---

## Making dataframes to concat and compare below by `store`:

Grouping DataFrames's by `'store'`, `'mean()'` of:
 - `df1`: full original data frame
 - `top_avg`: top by `comp_pct`
 - `bot_avg`: bottom by `comp_pct`
 - `closed_avg`: by closed store

In [3]:
# all_avg = df.groupby(['store','fiscal_year','fiscal_month']).mean().median().round(3)
# top_avg = df.groupby(['store','fiscal_year','fiscal_month']).mean().nlargest(27, 'comp_pct').median().round(3)
# bot_avg = df.groupby(['store','fiscal_year','fiscal_month']).mean().nsmallest(27, 'comp_pct').median().round(3)
# closed_avg = closed.groupby(['store','fiscal_year','fiscal_month']).mean().median().round(3)

# # Concatenating
# for_compare = pd.concat([
#     all_avg.rename('all_means').to_frame(),
#     top_avg.rename('top_means').to_frame(),
#     bot_avg.rename('bot_means').to_frame(),
#     closed_avg.rename('closed_means').to_frame()
# ], axis=1).iloc[1:, :]

# for_compare

all_avg_by_store = df.groupby(['store']).mean().mean().round(4)
top_avg_by_store = df.groupby(['store']).mean().nlargest(20, 'comp_pct').mean().round(4)
bot_avg_by_store = df.groupby(['store']).mean().nsmallest(20, 'comp_pct').mean().round(4)
closed_avg_by_store = closed.groupby(['store']).mean().mean().round(4)

# Concatenating
for_compare_by_store = pd.concat([
#     all_avg_by_store.rename('all_means').to_frame(),
    top_avg_by_store.rename('top_store_avgs').to_frame(),
    bot_avg_by_store.rename('bot_store_avgs').to_frame(),
    closed_avg_by_store.rename('closed_store_avgs').to_frame()
], axis=1).iloc[3:, :]

for_compare_by_store

,top_store_avgs,bot_store_avgs,closed_store_avgs
comp_pct,0.1587,-0.0535,-0.0148
mark_down_amt_ty,2124.6918,1711.4393,1144.2139
payroll_adj_hours,143.3224,129.9134,106.2597
strak_traffic,1084.4834,905.5472,779.3127
strak_sales_amt,20370.3780,16344.4602,15008.3269
special_order_amt,3087.8884,2167.4445,2039.8378
sales_value,20368.6170,16340.8817,15003.0004
shoes_units,94.8406,80.0852,65.7381
shoes_value,12554.7852,10419.3385,9758.1475
multi_value,5018.2321,4499.7414,3764.7171
payroll_units,147.0773,138.5657,122.3064
payroll_value,2751.9598,2502.1189,2150.6282
accessory_value,7812.1922,5921.5432,5244.8529
trans_cnt_returns,7.7938,5.8468,5.5502
ty_mark_down_pct,0.1069,0.1065,0.0842
strak_conversion_pct,0.1341,0.1373,0.1393
strak_sls_per_shopper,19.9361,19.9814,21.0058
strak_avg_trans_size,147.0986,144.4604,143.7884
strak_shopper_to_assoc_ratio,7.4773,6.3493,6.6200
strak_comp_traffic_delta,0.0246,-0.1908,-0.1541
shoe_multi_pct,0.4063,0.4171,0.3559
special_order_pct_to_sls,0.1517,0.1314,0.1257
footwear_units_pct,0.3121,0.3242,0.2973
nonfootwear_units_pct,0.6875,0.6755,0.7026
avg_unit_price,0.0157,0.0162,0.0154
avg_footwear_price,136.0123,133.4316,145.6106
avg_nonfootwewar_price,35.1251,32.3528,33.5745
footwear_amt_pct,0.6321,0.6570,0.6343
nonfootwear_amt_pct,0.3678,0.3430,0.3657
multi_amt_pct,0.3912,0.4011,0.3488
payroll_pct,0.1429,0.1632,0.1563
avg_pay_per_hr,18.4724,17.3122,17.0556
sales_amt_per_pay_hour,137.3018,113.1264,117.6448
avg_mgr_tenure_days,1244.6367,1606.6196,2073.2510
avg_am_tenure_days,812.6148,983.0229,768.4298
avg_ft_tenure_days,990.3433,299.5023,659.5943
avg_pt_tenure_days,403.7584,290.0885,359.1322
tot_avg_tenure_days,963.0595,818.3781,1189.1187
gross_feet,1936.9000,1771.4000,1766.1111

---
## Making dataframes to concat and compare below by `class`:

### Commented out classes do not have enough stores to do top and bot 10 store difference checks

In [4]:
classes = df['class'].unique()

mall_top = df[df['class'] == classes[0]].groupby(['store']).mean().nlargest(10, 'comp_pct').iloc[:, 3:].mean().rename('mall_top').to_frame()
mall_bot = df[df['class'] == classes[0]].groupby(['store']).mean().nsmallest(10, 'comp_pct').iloc[:, 3:].mean().rename('mall_bot').to_frame()

# open_air_top = df[df['class'] == classes[1]].groupby(['store']).mean().nlargest(10, 'comp_pct').iloc[:, 3:].mean().rename('open_air_top').to_frame()
# open_air_bot = df[df['class'] == classes[1]].groupby(['store']).mean().nsmallest(10, 'comp_pct').iloc[:, 3:].mean().rename('open_air_bot').to_frame()

# downtown_top = df[df['class'] == classes[2]].groupby(['store']).mean().nlargest(10, 'comp_pct').iloc[:, 3:].mean().rename('downtown_top').to_frame()
# downtown_bot = df[df['class'] == classes[2]].groupby(['store']).mean().nsmallest(10, 'comp_pct').iloc[:, 3:].mean().rename('downtown_bot').to_frame()

# street_top = df[df['class'] == classes[3]].groupby(['store']).mean().nlargest(10, 'comp_pct').iloc[:, 3:].mean().rename('street_top').to_frame()
# street_bot = df[df['class'] == classes[3]].groupby(['store']).mean().nsmallest(10, 'comp_pct').iloc[:, 3:].mean().rename('street_bot').to_frame()

airport_top = df[df['class'] == classes[4]].groupby(['store']).mean().nlargest(10, 'comp_pct').iloc[:, 3:].mean().rename('airport_top').to_frame()
airport_bot = df[df['class'] == classes[4]].groupby(['store']).mean().nsmallest(10, 'comp_pct').iloc[:, 3:].mean().rename('airport_bot').to_frame()

# lifestyle_top = df1[df1['class'] == classes[5]].groupby(['store']).mean().nlargest(10, 'comp_pct').iloc[:, 3:].mean().rename('lifestyle_top').to_frame()
# lifestyle_bot = df1[df1['class'] == classes[5]].groupby(['store']).mean().nsmallest(10, 'comp_pct').iloc[:, 3:].mean().rename('lifestyle_bot').to_frame()

outlet_top = df[df['class'] == classes[6]].groupby(['store']).mean().nlargest(10, 'comp_pct').iloc[:, 3:].mean().rename('outlet_top').to_frame()
outlet_bot = df[df['class'] == classes[6]].groupby(['store']).mean().nsmallest(10, 'comp_pct').iloc[:, 3:].mean().rename('outlet_bot').to_frame()

for_compare_by_class = pd.concat([mall_top, mall_bot, airport_top, airport_bot, outlet_top, outlet_bot], axis=1)
for_compare_by_class

,mall_top,mall_bot,airport_top,airport_bot,outlet_top,outlet_bot
comp_pct,0.148012,-0.057884,0.120980,0.035684,0.125864,-0.026232
mark_down_amt_ty,1571.621937,1216.257061,3403.726138,2430.833884,2961.037824,2886.487270
payroll_adj_hours,137.263298,139.608073,188.585432,156.397137,127.517861,111.503552
strak_traffic,1038.946692,964.761647,2436.505746,1783.348840,970.653400,858.412714
strak_sales_amt,20377.019085,16116.253101,33671.195384,24858.006771,16006.193421,13609.018810
special_order_amt,3498.733135,2452.096504,4132.429665,3383.448032,1707.549570,1540.681847
sales_value,20372.284516,16112.981521,33671.396492,24864.942719,16004.955038,13604.867630
shoes_units,88.875917,68.489534,101.814827,74.808826,114.120242,94.176681
shoes_value,13346.021536,10149.231473,14299.380063,10748.085744,11001.005083,8992.825135
multi_value,5302.006192,3766.266602,4388.615398,3162.557390,5303.936285,4725.117806
payroll_units,141.233140,142.562906,192.532976,158.715344,129.947807,124.745769
payroll_value,2642.610255,2443.225757,3955.153724,3095.861784,2115.570893,2001.593209
accessory_value,7024.211848,5963.714283,19371.996549,14116.856975,5003.447225,4612.039247
trans_cnt_returns,9.861153,7.572113,4.643629,2.594011,4.802410,3.736101
ty_mark_down_pct,0.077972,0.073587,0.107302,0.100635,0.176307,0.199948
strak_conversion_pct,0.127295,0.112940,0.101007,0.095568,0.137407,0.144999
strak_sls_per_shopper,19.921206,16.856416,14.156309,13.328786,17.234491,18.208869
strak_avg_trans_size,156.414949,149.757939,139.054717,138.707002,124.986658,125.609892
strak_shopper_to_assoc_ratio,7.353637,6.818871,12.163373,10.971101,7.363841,6.309152
strak_comp_traffic_delta,0.020716,-0.170824,0.019973,-0.059884,-0.011542,-0.171231
shoe_multi_pct,0.399309,0.356151,0.299775,0.287717,0.511732,0.541713
special_order_pct_to_sls,0.173943,0.155195,0.126275,0.126715,0.103732,0.111213
footwear_units_pct,0.316732,0.329275,0.203877,0.195941,0.359933,0.361455
nonfootwear_units_pct,0.682939,0.670672,0.796118,0.804037,0.639241,0.637903
avg_unit_price,0.014343,0.013807,0.015009,0.015546,0.019938,0.019856
avg_footwear_price,149.605073,148.195315,140.136557,143.500492,97.834271,96.701428
avg_nonfootwewar_price,34.536640,37.240160,49.187461,46.737430,24.400432,25.556959
footwear_amt_pct,0.665670,0.657195,0.420598,0.424787,0.689540,0.676535
nonfootwear_amt_pct,0.334213,0.342801,0.579401,0.575213,0.310416,0.323465
multi_amt_pct,0.393024,0.351051,0.293689,0.281530,0.472009,0.509142
payroll_pct,0.141102,0.161718,0.133128,0.143352,0.141001,0.163830
avg_pay_per_hr,18.589069,16.690732,20.228716,18.947883,16.343862,15.868699
sales_amt_per_pay_hour,140.876858,110.933309,167.023290,147.628690,122.277329,105.304607
avg_mgr_tenure_days,1207.745059,1743.488951,3909.392309,2047.573521,803.068072,2025.839778
avg_am_tenure_days,522.970051,921.488005,1801.226368,919.510132,555.742502,506.380444
avg_ft_tenure_days,1009.036595,668.925466,1461.010484,372.848822,148.009303,157.943033
avg_pt_tenure_days,448.301089,720.696543,752.677041,579.862501,225.233280,430.017274
tot_avg_tenure_days,971.202564,1080.690793,1747.983717,1091.841813,479.518531,908.346730
gross_feet,1675.900000,1552.500000,1298.800000,1059.500000,2347.600000,2456.100000

---

## MALL STORES:
 - #### Absolute percentage(%) differences between averages of top and bot mall stores' variables:

In [5]:
top = mall_top.iloc[1:,0]
bot = mall_bot.iloc[1:,0]
diff_mall = abs(abs(bot - top) / ((bot + top) * 0.5) * 100).to_frame('abs_%_diff').nlargest(11, 'abs_%_diff').iloc[1:, :]

---

## AIRPORT STORES:
 - #### Absolute percentage(%) differences between averages of top and bot airport stores' variables:

In [6]:
top = airport_top.iloc[1:,0]
bot = airport_bot.iloc[1:,0]
diff_airport = abs(abs(bot-top) / ((bot + top) * 0.5) * 100).to_frame('abs_%_diff').nlargest(11, 'abs_%_diff').iloc[1:, :]

---

## OUTLET STORES: 
 - #### Absolute percentage(%) differences between averages of top and bot outlet stores' variables:

In [7]:
top = outlet_top.iloc[1:,0]
bot = outlet_bot.iloc[1:,0]

# outlet store differences
diff_outlet = abs(abs(top-bot) / ((top + bot) * 0.5) * 100).to_frame('abs_%_diff').nlargest(10, 'abs_%_diff').nlargest(11, 'abs_%_diff').iloc[1:, :]

---

## Making dataframes to concat and compare below by `fiscal_week`, top and bot `comp_pct`.

Each observation within `df1` is `fiscal_week`, and total len is 27042. We will sample top and bot 1000 fiscal weeks by `comp_pct`, then compare the variable of these fiscal weeks with side by side.

In [8]:
fiscal_wk_top = df.set_index(['store', 'fiscal_week']).nlargest(1000, 'comp_pct').iloc[:,2:]
fiscal_wk_bot = df.set_index(['store', 'fiscal_week']).nsmallest(1000, 'comp_pct').iloc[:,2:]


for_compare_by_fiscal_week = pd.concat([fiscal_wk_top.mean().rename('top_comp_pct_weeks'), 
                                        fiscal_wk_bot.mean().rename('bot_comp_pct_weeks')], axis=1)
for_compare_by_fiscal_week

                              top_comp_pct_weeks  bot_comp_pct_weeks
comp_pct                                0.956945           -0.436951
mark_down_amt_ty                     2315.725860         1167.420960
payroll_adj_hours                     130.121000          118.318000
strak_traffic                         950.349000          704.071000
strak_sales_amt                     19588.119570        10442.047940
special_order_amt                    2834.251660         1497.460080
sales_value                         19585.374860        10423.961340
shoes_units                           102.545000           56.047000
shoes_value                         12795.650900         6951.279400
multi_value                          5961.896140         2716.021310
payroll_units                         132.810200          120.839070
payroll_value                        2527.680660         1865.134330
accessory_value                      6788.309530         3472.667940
trans_cnt_returns                       6.599000            5.793000
ty_mark_down_pct                        0.123241            0.115113
strak_conversion_pct                    0.149323            0.132648
strak_sls_per_shopper                  22.849781           16.942274
strak_avg_trans_size                  152.159863          125.963740
strak_shopper_to_assoc_ratio            7.012810            5.786176
strak_comp_traffic_delta                0.807622           -0.569600
shoe_multi_pct                          0.476657            0.396079
special_order_pct_to_sls                0.146222            0.146832
footwear_units_pct                      0.333794            0.326425
nonfootwear_units_pct                   0.665672            0.673189
avg_unit_price                          0.016328            0.017266
avg_footwear_price                    129.293081          127.121806
avg_nonfootwewar_price                 32.145060           28.813736
footwear_amt_pct                        0.662582            0.673652
nonfootwear_amt_pct                     0.337350            0.326347
multi_amt_pct                           0.457265            0.377480
payroll_pct                             0.138388            0.202998
avg_pay_per_hr                         18.808074           15.379458
sales_amt_per_pay_hour                144.113440           83.409613
avg_mgr_tenure_days                  2203.562000         1974.181500
avg_am_tenure_days                    958.407010         1036.887000
avg_ft_tenure_days                    491.897500          453.566920
avg_pt_tenure_days                    510.596870          479.074170
tot_avg_tenure_days                  1185.712000         1206.908000
gross_feet                           1920.399000         1892.422000

---

## FISCAL WEEKS: 
 - #### Absolute percentage(%) differences between averages of top and bot fiscal weeks' variables:

In [9]:
wk_top = fiscal_wk_top.mean()[1:]
wk_bot = fiscal_wk_bot.mean()[1:]

diff_week = abs(abs(wk_top - wk_bot) / ((wk_top + wk_bot) * 0.5) * 100).to_frame('abs_%_diff').nlargest(11, 'abs_%_diff').iloc[1:, :]