In [226]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pprint as pp
# import IPython
# from IPython.display import display, HTML
# from IPython.core.interactiveshell import InteractiveShell

# InteractiveShell.ast_node_interactivity = "all"
# CSS = """
# .output {
#     flex-direction: row;
# }
# """
# HTML('<style>{}</style>'.format(CSS))
pd.set_option('display.max_columns', None)

---

## Mapping categories to DF1 below

In [69]:
df1 = pd.read_csv('./data/0826export_column_filter_1.csv')
df1.columns = df1.columns.str.lower()

df2 = pd.read_excel('./documentation/store_master.xlsx')
df2.columns = df2.columns.str.lower()

# column creation and mapping
#############################
# store class column
df2_store_dict = dict(zip(df2['store'], df2['class']))
df1['class'] = df1['store'].map(df2_store_dict)

# store city column 
df2_city_dict = dict(zip(df2['store'], df2['store_city']))
df1['city'] = df1['store'].map(df2_city_dict)

# store state column
df2_state_dict = dict(zip(df2['store'], df2['store_state']))
df1['state'] = df1['store'].map(df2_state_dict)

# store close date
df2_closed_dict = dict(zip(df2['store'], df2['close_date']))
df1['close_date'] = df1['store'].map(df2_closed_dict)

df2_ft_dict = dict(zip(df2['store'], df2['gross_feet']))
df1['gross_feet'] = df1['store'].map(df2_ft_dict)

---

## Below remove outlier store

In [ ]:
df1 = df1[df1.store != 2084]

In [277]:
pd.pivot_table(closed, index=['store'],columns='fiscal_year',values='comp_pct')

fiscal_year      2017      2018      2019      2020
store
1643        -0.181329 -0.123526       NaN       NaN
1652         0.259425 -0.037050  0.153779 -0.055691
1670         0.460118 -0.381940 -0.070992       NaN
1711        -0.042366 -0.033682  0.101881  0.099241
1717        -0.040280 -0.056802 -0.036926 -0.406107
1803        -0.090754 -0.046967 -0.063759 -0.142300
1820         0.096273  0.005422       NaN       NaN
1832        -0.106470  0.088853  0.154067       NaN
2065        -0.076738       NaN       NaN       NaN

---

## Making dataframes to concat and compare below:

Grouping DataFrames's by `'store','fiscal_year','fiscal_month','fiscal_week'`, `'mean()'` of:
 - `df1` fir compare
 - `top_avg`: top 27 by `comp_pct`
 - `bot_avg`: bottom 27 by `comp_pct`
 - `closed_avg`: by closed store

In [273]:
closed = df1[df1.close_date.notna()]


all_avg = df1.groupby(['store','fiscal_year','fiscal_month','fiscal_week']).mean().mean()
top_avg = df1.groupby(['store','fiscal_year','fiscal_month','fiscal_week']).mean().nlargest(27, 'comp_pct').mean()
bot_avg = df1.groupby(['store','fiscal_year','fiscal_month','fiscal_week']).mean().nsmallest(27, 'comp_pct').mean()
closed_avg = closed.groupby(['store','fiscal_year','fiscal_month','fiscal_week']).mean().mean()

# Concatenating
for_compare = pd.concat([
    all_avg.rename('all_averages').to_frame(),
                         top_avg.rename('top_averages').to_frame(),
                         bot_avg.rename('bot_averages').to_frame(),
                         closed_avg.rename('closed_averages').to_frame()
], axis=1)

for_compare

,all_averages,top_averages,bot_averages,closed_averages
comp_pct,0.049586,4.163708,-0.672644,-0.003476
mark_down_amt_ty,2366.128483,2048.573704,705.051481,1040.661185
payroll_adj_hours,138.139344,132.481481,110.555556,120.108333
strak_traffic,1114.528013,1121.740741,418.370370,787.250000
strak_sales_amt,19672.463202,19227.620370,6289.053333,15802.968685
special_order_amt,2663.678987,2842.442222,886.191481,2253.043361
sales_value,19671.135670,19211.477037,6257.581852,15796.805194
shoes_units,98.986761,90.851852,33.592593,66.584259
shoes_value,12225.894484,11934.874074,4464.093333,10320.226296
multi_value,5255.678129,4945.428889,1717.817407,3875.921509
payroll_units,141.250395,135.175556,112.662222,125.392639
payroll_value,2580.025921,2469.893704,1626.655185,2253.007231
accessory_value,7444.924781,7276.602963,1793.488519,5476.578898
trans_cnt_returns,6.580304,6.259259,4.851852,6.045370
ty_mark_down_pct,0.121659,0.117911,0.133292,0.072676
strak_conversion_pct,0.135754,0.127087,0.134586,0.142021
strak_sls_per_shopper,19.531159,19.038906,15.724964,21.543564
strak_avg_trans_size,143.373483,150.260711,116.368573,144.632077
strak_shopper_to_assoc_ratio,7.535454,8.003984,4.090264,6.592457
strak_comp_traffic_delta,-0.086169,4.036621,-0.807229,-0.145497
shoe_multi_pct,0.440220,0.442552,0.395401,0.335641
special_order_pct_to_sls,0.137706,0.152596,0.147200,0.133086
footwear_units_pct,0.322180,0.322001,0.320589,0.292336
nonfootwear_units_pct,0.677383,0.677868,0.679322,0.707598
avg_unit_price,0.016577,0.015972,0.018632,0.014907
avg_footwear_price,128.290994,133.842103,131.263956,150.991437
avg_nonfootwewar_price,32.491011,34.883701,23.526933,34.355670
footwear_amt_pct,0.646048,0.639885,0.719661,0.632160
nonfootwear_amt_pct,0.353933,0.360115,0.280339,0.367840
multi_amt_pct,0.420867,0.419616,0.372236,0.329604
payroll_pct,0.144120,0.135812,0.336663,0.156912
avg_pay_per_hr,17.983385,18.197195,14.608936,17.319573
sales_amt_per_pay_hour,134.388739,139.820494,50.454164,119.780234
avg_mgr_tenure_days,2483.921816,1940.037037,1730.185185,1718.581481
avg_am_tenure_days,1166.010616,744.611111,989.962963,894.267130
avg_ft_tenure_days,567.229915,393.592593,568.565185,803.372602
avg_pt_tenure_days,561.662890,371.538148,379.055185,320.761315
tot_avg_tenure_days,1282.596650,997.740741,1272.851852,1147.856481
gross_feet,1927.779927,1836.777778,1996.740741,1686.452778

---
### Attempting to break up columns into different data sets below

In [40]:
pct = [name for name in df1.columns if name.endswith('PCT')]
amt = [name for name in df1.columns if name.endswith('AMT')]

# list(df.columns)

In [212]:
df1.store.mean?

In [57]:
# df1.info()